[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "==1.2.3"
python-dateutil = "==2.8.1"
matplotlib = "==3.4.1"
pystan = "==2.19.1.1"
scikit-learn = "*"
statsmodels = "*"
fbprophet = "*"
tbats = "*"
hyperopt = "*"
jupyter = "*"
plotly = "*"
darts = "==0.7.0"
neuralprophet = "*"
torch = "==1.8.1"
grpcio = "==1.37.1"
arch = "*"

[dev-packages]
black = "*"
jupyterlab = "*"

[pipenv]
allow_prereleases = true

[requires]
python_version = "3.8.6"
